<h1>Cart</h1>

<div id='cart'>
  {{#if courses.length}}
    <table>
      <thead>
        <tr>
          <th>Name</th>
          <th>Count</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        {{#each courses}}
          <tr>
            <td>{{title}}</td>
            <td>{{count}}</td>
            <td><button class="btn btn-small js-remove" data-id="{{_id}}">Delete</button></td>
          </tr>
        {{/each}}
      </tbody>
    </table>

    <p><strong>Price:</strong><span class="price">{{price}}</span></p>

    <form action="/orders" method="post">
      <button type="submit" class="btn">Get orders</button>
    </form>
  {{else}}
    <p>Cart is empty</p>
  {{/if}}
</div>
